/* 기본틀 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a{
  text-decoration: none;
}

body, html {
  height: 100%;
}

div{
  border: 1px solid black;
}

table, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
  color: #333;
  font-size: 14px;
}

/* container */
#container{
  width: 100%;
  padding: 100px 300px 0 300px;
}

/* 게시글 상단 */
#diary_view_top{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modify_del_slide{
  height: 98px;
  float: right;
}

.modify_del_slide img{
  width: 100%;
}

.diary_view_title h2{
  font-size: 24px;
  margin-bottom: 17px;
}

.diary_view_title span{
  width: 100%;
  display: block;
  font-size: 16px;
  color: #444444;
  margin-bottom: 6px;
}

/* 일기내용 */
#diary_content{
  width: 100%;
}

#diary_content p{
  margin: 20px 0 20px 0;
}

#diary_content img{
  width: 50%;
  margin: 0 auto;
  display: block;
}

/* 일기 다음글 이전글 목록 */
#diary_list table{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

#diary_list table th{
  height: 50px;
  padding: 20px;
  text-align: left;
  font-weight: 400;
  color: #444;
}

#diary_list table td{
  height: 40px;
  text-align: center;
  box-sizing: border-box;
}

#diary_list table td:nth-child(2){
  padding-left: 20px;
  text-align: left;
}

.diary_list_last span{
  width: 130px;
  height: 24px;
  align-items: center; 
  text-align: center;
  display: inline-block;
}

.diary_list_last img{
  vertical-align: middle; 
}

.diary_list_last {
  justify-content: center;        
  align-items: center; 
}


/* 다이어리 반응 */

