/* 기본틀 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a{
  text-decoration: none;
}

body, html {
  height: 100%;
}


table, tr, td{
  border-collapse: collapse;
  color: #333;
  font-size: 14px;
}

div{
  border: 1px solid black;
}

/* container */
#container{
  width: 100%;
  min-height: 100vh; /* 화면 높이와 동일하게 설정 */
  padding: 40px 180px 300px 50px;
}

/* 감정 돌아보기 상단 */
#gemini_top{
  width: 100%;
  margin-bottom: 60px;
}

#gemini_report_top{
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10.1px rgba(128, 128, 128, 0.96),
  inset 14px 18px 17.1px rgba(255, 255, 255, 0.27);
}

#gemini_report_top span{
  font-size: 28px;
  font-weight: bold;
}

#gemini_report_top p{
  font-size: 20px;
}

#gemini_report_top .gemini_report_info{
  margin-top: 40px;
  font-size: 18px;
}