{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdeliv.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
<link rel="stylesheet" href="{% static 'css/admin1/admin_memllist.css'%}">
<link rel="stylesheet" href="{% static 'css/admin1/admin_login.css'%}">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>포스트</title>
</head>
<body>
	<nav class="gnb">
		<a href="#" class="logo"><img src="images/logo_sample.png" alt=""></a>
		<div class="menu">
			<a href="/admin1/admin_memList/">회원관리</a>
			<a href="#">판매관리</a>
			<a href="/admin1/admin_noticeList/">공지사항</a>
			<a class="active" href="/admin1/admin_postList/">포스트</a>
			<a href="/admin1/admin_adminList/">관리자설정</a>
			<a href="#">로그아웃</a>
		</div>
	</nav>
	<div class="container">
		<div class="con_header">
			<h2>포스트</h2>
			<button id="cBtn" type="button">포스트 추가</button>
			<button id="dBtn" type="button">포스트 삭제</button>
		</div>
		<table>
			<thead>
				<tr>
					<th><input type="checkbox" id="select_all"></th>
					<th>번호</th>
					<th>공지제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>게시상태</th>
				</tr>
			</thead>
			<tbody>
				<!-- 데이터 추가 반복 -->
				<tr>
					<td><input type="checkbox" class="select_member"></td>
					<td>004</td>
					<td class="member_name"><a href="#">가족을 칭찬하는	다이어리를 써보세요.. 제목이 들어갑니다요요요요요요요.</a></td>
					<td>관리자</td>
					<td>2024-01-01</td>
					<td>게시 중</td>
				</tr>
				<!-- 데이터 추가 반복 -->
				<tr>
					<td><input type="checkbox" class="select_member"></td>
					<td>003</td>
					<td class="member_name"><a href="#">가족을 칭찬하는	다이어리를 써보세요.. 제목이 들어갑니다요요요요요요요..</a></td>
					<td>관리자</td>
					<td>2024-01-01</td>
					<td>게시 중</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select_member"></td>
					<td>002</td>
					<td class="member_name"><a href="#">가족을 칭찬하는	다이어리를 써보세요.. 제목이 들어갑니다요요요요요요요.</a></td>
					<td>관리자</td>
					<td>2024-01-01</td>
					<td>게시 중</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select_member"></td>
					<td>001</td>
					<td class="member_name"><a href="#">가족을 칭찬하는	다이어리를 써보세요.. 제목이 들어갑니다요요요요요요요..</a></td>
					<td>관리자</td>
					<td>2024-01-01</td>
					<td>게시 중</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
	$(function(){
		const currentPage = window.location.pathname;
		$('.menu-item').each(function () {
			if ($(this).attr('href') === currentPage) {
				$(this).addClass('active');
			}
		});
	});
	
	// 전체 선택 기능
	const selectAllCheckbox = document.getElementById('select_all');
	const memberCheckboxes = document.querySelectorAll('.select_member');
	
	selectAllCheckbox.addEventListener('change', function () {
			memberCheckboxes.forEach(checkbox => {
					checkbox.checked = selectAllCheckbox.checked;
			});
	});
	</script>

</body>
</html>