{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/admin1/admin_login.css'%}">
<link rel="stylesheet" href="{% static 'css/admin1/admin_memllist.css'%}">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>회원관리</title>
<script>
	if(! '{{request.session.session_id}}'){
		alert("로그인을 하셔야 접근가능합니다.")
		location.href = '/admin1/login/'
	}
	if ('{{outMsg}}' == '1'){
		alert("안전하게 로그아웃되었습니다.")
		location.href = '/admin1/login/'
	};
	$(function(){
		$("#a_logout").click(function(){
			if(confirm("로그아웃 하시겠습니까?")){
				location.href='/admin1/logout/'
			}
		})
	})
</script>
</head>
<body>
	<nav class="gnb">
		<a href="#" class="logo"><img src="/static/images/admin1/logo_sample.png" alt=""></a>
		<div class="menu">
				<a class="active" href="/admin1/admin_memList/">회원관리</a>
				<a href="#">판매관리</a>
				<a href="admin_noticeList.html">공지사항</a>
				<a href="admin_postList.html">포스트</a>
				<a href="/admin1/admin_adminList/">관리자설정</a>
				<a id='a_logout'>로그아웃</a>
		</div>
	</nav>
	<div class="container">
		<div class="con_header">
			<h2>회원 관리</h2>
			<button id="cBtn" type="button">회원 추가</button>
			<button id="dBtn" type="button">회원 삭제</button>
		</div>
		<table>
			<thead>
				<tr>
					<th><input type="checkbox" id="select_all"></th>
					<th>아이디</th>
					<th>회원이름</th>
					<th>닉네임</th>
					<th>이메일</th>
					<th>가입일</th>
					<th>구독상태</th>
				</tr>
			</thead>
			<tbody>
				<!-- 데이터 추가 반복 -->
				{% for mem in mlist %}
				<tr>
					<td><input type="checkbox" class="select_member"></td>
					<td>{{mem.id}}</td>
					<td class="member_name"><a href="#">{{mem.name}}</a></td>
					<td>{{mem.nicName}}</td>
					<td>{{mem.mail}}</td>
					<td>{{mem.mdate}}</td>
					<td>구독중</td>
				</tr>
				{% endfor %}
				<!-- 데이터 추가 반복 -->
				
			</tbody>
		</table>
	</div>
	<script>
	$(function(){
		const currentPage = window.location.pathname;
		$('.menu-item').each(function () {
			if ($(this).attr('href') === currentPage) {
				$(this).addClass('active');
			}
		});
	});
	
	// 전체 선택 기능
	const selectAllCheckbox = document.getElementById('select_all');
	const memberCheckboxes = document.querySelectorAll('.select_member');
	
	selectAllCheckbox.addEventListener('change', function () {
			memberCheckboxes.forEach(checkbox => {
					checkbox.checked = selectAllCheckbox.checked;
			});
	});
	</script>

</body>
</html>