{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdeliv.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
<link rel="stylesheet" href="{% static 'css/admin1/admin_memllist.css'%}">
<link rel="stylesheet" href="{% static 'css/admin1/admin_login.css'%}">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>공지사항</title>
<script>
	if('{{wmsg}}' == '1'){
		alert("공지사항이 저장되었습니다.")
		location.href='/admin1/admin_noticeList/'
	}
	$(function(){
		$("#notiAddBtn").click(function(){
			location.href = '/admin1/admin_notiWrite/'
		})
	})
</script>
</head>
<body>
	<nav class="gnb">
		<a href="#" class="logo"><img src="/static/images/admin1/logo_sample.png" alt=""></a>
		<div class="menu">
			<a href="/admin1/admin_memList/">회원관리</a>
			<a href="#">판매관리</a>
			<a href="/admin1/admin_noticeList/" class='active'>공지사항</a>
			<a href="/admin1/admin_postList/">포스트</a>
			<a href="/admin1/admin_adminList/">관리자설정</a>
			<a id='a_logout'>로그아웃</a>
		</div>
	</nav>
	<div class="container">
		<div class="con_header">
			<h2>공지사항</h2>
			<button id="notiAddBtn" type="button">공지사항 추가</button>
			<button id="notiDelBtn" type="button">공지사항 삭제</button>
		</div>
		<table>
			<colgroup>
        <col style="width: 5%;"> <!-- 체크박스 열 -->
        <col style="width: 10%;"> <!-- 번호 열 -->
        <col style="width: 55%;"> <!-- 제목 열 -->
        <col style="width: 10%;"> <!-- 작성자 열 -->
        <col style="width: 10%;"> <!-- 작성일 열 -->
        <col style="width: 10%;"> <!-- 게시 상태 열 -->
    	</colgroup>
			<thead>
				<tr>
					<th><input type="checkbox" id="select_all"></th>
					<th>번호</th>
					<th>공지제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>게시상태</th>
				</tr>
			</thead>
			<tbody>
				<!-- 데이터 추가 반복 -->
				{% for noti in notiList %}
				<tr>
					<td><input type="checkbox" class="select_member"></td>
					<td>{{noti.bno}}</td>
					<td class="member_name"><a href="#">{{noti.btitle}}</a></td>
					<td>{{noti.member.name}}</td>
					<td>{{noti.bdate|date:'y-m-d H:i:s'}}</td>
					<td>게시 중</td>
				</tr>
				{% empty %}
    		<tr>
       	 <td colspan="6" style="text-align: center;">등록된 공지사항이 없습니다.</td>
    		</tr>
				{% endfor %}
				<!-- 데이터 추가 반복 -->
				
			</tbody>
		</table>
	</div>
	<script>

	
	// 전체 선택 기능
	const selectAllCheckbox = document.getElementById('select_all');
	const memberCheckboxes = document.querySelectorAll('.select_member');
	
	selectAllCheckbox.addEventListener('change', function () {
			memberCheckboxes.forEach(checkbox => {
					checkbox.checked = selectAllCheckbox.checked;
			});
	});

	</script>

</body>
</html>