@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.container {
  display: flex;
  height: 100vh;
}
.image-section {
  width: 100%;
  background: url('../images/Mask group.svg') no-repeat center center;
  background-size: cover;
}
.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 148px 70px 0 60px;
  background-color: #fff;
}

#f1{
  font-size: 24px;
  margin-bottom: 10px;
}
#f2{
  font-size: 18px;
  margin-bottom: 50px;
}
form {
  width: 100%;
  max-width: 460px;
}

label {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
}

input[type="text"]#id,input[type="text"]#birthday{
  
  width: 100%;
  height: 55px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
input[type="text"]{
  width: 47.5%;
  height: 55px;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
select{
  margin-left: 15px;
  width: 47.5%;
  height: 55px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


button {
  width: 460PX;
  height: 55PX;
  padding: 10px;
  background-color: #d9d9d9;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 19px rgba(94, 94, 94, 0.3);
  margin-top: 30px;
}

button:hover {
  background-color: #5B70C8;
  box-shadow: 0 4px 19px rgba(94, 94, 94, 0.3);
}