{% extends 'main_navi_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <title>공유 다이어리 목록</title>
 
<body>
  {% block container-block%}
  <div id="container">

    <div id="notice_title_area">
      <h2 id="noticeTit">공지사항</h2>
      <p id="noticeTit2">NOTICE</p>
    </div>
    
    <div id="notice_list_area">
      <div class="notice_list_group">
        <a href="/customer/noticeview/">
          <div class="notice_wrap_cont">
            
            <div class="tit_post">
              <div class="num_txt">35</div> 
              <div>시스템 개편 오류 조치</div> 
              <div id="Nname">관리자</div>
            </div>
            <p class="desc_cont">
              <span class="list_txt">안녕하세요. 우리의 일기 관리자 입니다. . . .. . . .. ..</span>
            </p>
          </div>
          <dl class="list_post_info">
            <dd class="txt_g">
              <span>2024.11.29</span><span class="space"> | </span>
              <span>댓글</span><span>01</span><span class="space"> | </span>
              <span>좋아요</span><span>02</span>
            </dd>
          </dl>
        </a>
      </div>
      <div class="notice_list_group">
        <a href="/customer/noticeview/">
          <div class="notice_wrap_cont">
            
            <div class="tit_post">
              <div class="num_txt">35</div> 
              <div>시스템 개편 오류 조치</div> 
              <div id="Nname">관리자</div>
            </div>
            <p class="desc_cont">
              <span class="list_txt">안녕하세요. 우리의 일기 관리자 입니다. . . .. . . .. ..</span>
            </p>
          </div>
          <dl class="list_post_info">
            <dd class="txt_g">
              <span>2024.11.29</span><span class="space"> | </span>
              <span>댓글</span><span>01</span><span class="space"> | </span>
              <span>좋아요</span><span>02</span>
            </dd>
          </dl>
        </a>
      </div>
      <div class="notice_list_group">
        <a href="/customer/noticeview/">
          <div class="notice_wrap_cont">
            
            <div class="tit_post">
              <div class="num_txt">35</div> 
              <div>시스템 개편 오류 조치</div> 
              <div id="Nname">관리자</div>
            </div>
            <p class="desc_cont">
              <span class="list_txt">안녕하세요. 우리의 일기 관리자 입니다. . . .. . . .. ..</span>
            </p>
          </div>
          <dl class="list_post_info">
            <dd class="txt_g">
              <span>2024.11.29</span><span class="space"> | </span>
              <span>댓글</span><span>01</span><span class="space"> | </span>
              <span>좋아요</span><span>02</span>
            </dd>
          </dl>
        </a>
      </div>
      <div class="notice_list_group">
        <a href="/customer/noticeview/">
          <div class="notice_wrap_cont">
            
            <div class="tit_post">
              <div class="num_txt">35</div> 
              <div>시스템 개편 오류 조치</div> 
              <div id="Nname">관리자</div>
            </div>
            <p class="desc_cont">
              <span class="list_txt">안녕하세요. 우리의 일기 관리자 입니다. . . .. . . .. ..</span>
            </p>
          </div>
          <dl class="list_post_info">
            <dd class="txt_g">
              <span>2024.11.29</span><span class="space"> | </span>
              <span>댓글</span><span>01</span><span class="space"> | </span>
              <span>좋아요</span><span>02</span>
            </dd>
          </dl>
        </a>
      </div>
    </div>
      

    <ul class="page_num">
      <li><a href="#"><img src="images/left_double.png" alt=""></a></li>
      <li><a href="#"><img src="images/left.png" alt=""></a></li>
      <li class="nowNum"><a href="#">1</a></li>
      <li><a href="#">2</a></li> 
      <li><a href="#">3</a></li> 
      <li><a href="#">4</a></li> 
      <li><a href="#">5</a></li> 
      <li><a href="#">6</a></li> 
      <li><a href="#">7</a></li> 
      <li><a href="#">8</a></li> 
      <li><a href="#">9</a></li> 
      <li><a href="#">10</a></li> 
      <li><a href="#"><img src="images/right.png" alt=""></a></li>
      <li><a href="#"><img src="images/right_double.png" alt=""></a></li>
    </ul>
  </div>
  {% endblock container-block%}
</body>
</html>